body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}
header {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav a:hover {
    color: #0078d4; /* Microsoft Blue */
}

.logo {
    position: absolute; /* Make the logo text positioned */
    top: 0; /* Align the text to the top */
    left: 0; /* Align the text to the right */
    margin: 10px; /* Add some margin for spacing */
    color: #333; /* Text color */
    font-weight: bold; /* Bold font */
    font-size: 18px; /* Font size */
    border: 2px solid #333;
    padding: 5px 10px;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.about-me-card {
    margin: 20px;
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.about-me-card img {
    border-radius: 5%;
    width: 150px;
    height: 200px;
    margin-right: 20px;
}
.about-me-text {
    flex: 1;
}
.about-me-text h2 {
    margin-top: 0;
}
.social-media-icons {
    margin-top: 20px;
}
.social-media-icons a {
    margin-right: 10px;
}
.social-media-icons img {
    width: 40px;
    height: 20px;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
.project {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.project img {
    width: 100%; /* Ensure image takes up full width of its container */
    height: 200px; /* Set a fixed height for consistency */
    object-fit: cover; /* Ensure image covers the entire container while maintaining aspect ratio */
    border-radius: 5px; /* Add rounded corners for aesthetics */
}
.link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

.link:hover {
    color: inherit; /* Change color on hover to inherit from parent element */
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    margin-top: 50px;
}
